* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

ol,
ul {
	list-style: none;
}

a {
	text-decoration: none;
}

table,
td,
th {
	border-collapse: collapse;
}

fieldset {
	border: none;
}

input,
a,
button {
	outline: 1;
}

.hidden {
	position: absolute;
	top: -9999px;
	opacity: 0;
	text-indent: -9999px;
	overflow: hidden;
}

@mixin floatRelease {
	&::after {
		content: '';
		display: block;
		clear: both;
	}
}

@mixin flexCenter($alignDefItems : center) {
	display: flex;
	justify-content: center;
	align-items: $alignDefItems;
}