@charset "UTF-8";
@import "./reset.scss";

section {
  background: #222;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .titleContainer {
    font-size: 0;
    padding-bottom: 0.4rem;
    position: relative;

    h1 {
      font: 4rem/1 'arial';
      color: #eee;
      transform: translateY(6rem);
    }
  }
}

@keyframes up {
  100% {
    transform: translateY(0);
  }
}