@charset "UTF-8";
@import "./reset.scss";

@mixin justify {
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  min-height: calc(100vh / 3);
  position: relative;

  //행과 열 가운데 정렬
  &.center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:nth-of-type(odd) {
    background: #333;

    h1 {
      color: #999;
    }
  }

  &:nth-of-type(even) {
    background: #eee;
  }

  h1 {
    position: absolute;
    top: 5vh;
    left: 5vw;
  }

  //1. 폰트가 가려졌다가 위로 나타나는 애니메이션
  &.overflowTitle {
    &:hover {
      p {
        animation: up 500ms linear forwards;
      }
    }

    h1 {
      color: #999;
    }

    div {
      overflow: hidden;

      p {
        font: 4rem/1 'arial';
        color: #eee;
        transform: translateY(6rem);
      }
    }
  }

  //2. 버튼 애니메이션_1
  &.btnAni_1 {
    div {

      a {
        display: inline-flex;
        align-items: center;
        background: lighten($color: dodgerblue, $amount: 10%);
        color: #fff;
        font: 20px/1.15 'arial';
        box-shadow: 0px 3px 5px -3px rgba(0, 0, 0, 0.5);
        padding-left: 20px;
        overflow: hidden;

        span {
          @include justify();
          margin-left: 20px;
          background: pink;
          padding: 1rem;
          overflow: hidden;
        }

        &:hover {
          span i {
            animation: moveArrow 0.75s;
          }
        }
      }
    }
  }

  //3. 모서리 부분 커지는 애니메이션
  &.triangleCorner {
    height: calc((100vh / 3) * 2);

    div {
      position: relative;
      width: 380px;
      height: 300px;
      background: #666;
      margin: 0 10px;
    }
  }
}

/* animation 모음 */
@keyframes up {
  100% {
    transform: translateY(0);
  }
}

@keyframes moveArrow {
  0% {
    transform: translateX(0px);
  }

  49% {
    transform: translateX(50px);
  }

  50% {
    transform: translateX(-50px);
  }

  100% {
    transform: translateX(0px);
  }
}