@charset "UTF-8";
@import "./reset.scss";

section {
  min-height: 33vh;

  &.overflowTitle {
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;

    div {
      font-size: 0;
      padding-bottom: 0.4rem;
      position: relative;
      overflow: hidden;
  
      h1 {
        font: 4rem/1 'arial';
        color: #eee;
        transform: translateY(6rem);
        animation: up 500ms linear forwards;
      }
    }
  }
}

@keyframes up {
  100% {
    transform: translateY(0);
  }
}